.s-hero {
  padding-top: 12.3rem;
  position: relative;
  background: url("../assets/images/Rectangle\ 2.png") no-repeat center center;
  z-index: 1;
  color: var(--white);
  &::before {
    content: "";
    width: 41.3rem;
    height: 50rem;
    position: absolute;
    left: -28.4rem;
    top: 7.4rem;
  }
  .container {
    position: relative;
    z-index: 4;
    text-align: center;
  }
}

.s-especializada-em-solucoes {
  padding: 5rem 0;
  background-image: url();
  z-index: 4;
  position: relative;
  .container {
    @include flex(row, center, space-between);
    gap: 3.6rem;
    position: relative;
  }
}

.s-experiencia-completa {
  padding-top: 7.4rem;
  padding-bottom: 7.4rem;
  background-color: var(--bege);
  position: relative;
  z-index: 4;
  &::after {
    content: "";
    background: url("../assets/after-section.svg") no-repeat center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .container {
    @include flex(row, center, space-between);
    .informacoes {
      width: 100%;
      max-width: 47.6rem;
      h2 {
        font-size: 4rem;
        color: var(--green-dark);
        line-height: 45px;
        max-width: 39.8rem;

        margin-bottom: 4rem;
      }
      p {
        font-weight: 300;
        font-size: 2rem;
        line-height: 28px;

        margin-bottom: 8rem;
      }
    }
  }
  @include responsive(768px) {
    padding-bottom: 7.4rem;
  }
  @include responsive(550px) {
    padding: 5rem 0;
    .container {
      flex-direction: column;
      .informacoes {
        margin-bottom: 3rem;
        h2 {
          font-size: 3.7rem;
          line-height: 45px;
          margin-bottom: 3rem;
        }
        p {
          font-size: 1.8rem;
          margin-bottom: 3rem;
        }
      }
    }
  }
}

.s-mais-leveza-dia {
  padding: 5rem 0;
  position: relative;
  z-index: 9;
  z-index: 4;
  background-color: var(--bege);
  &::after {
    content: "";
    background: url("../assets/after-section.svg") no-repeat center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .container {
    @include flex(column, center, center);
    h2 {
      color: var(--green-dark);
      margin-bottom: 2.4rem;
    }
    p {
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 32px;
      margin-bottom: 4rem;
    }
    .all-services {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.6rem;
      .service {
        background: linear-gradient(
          360deg,
          #ffffff 0%,
          rgba(255, 255, 255, 0) 97.81%
        );
        border-radius: 16px;

        width: 100%;
        max-width: 29.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1.8rem;
        .img {
          margin-bottom: 1.6rem;
          @include flex(row, center, center);
        }

        h3 {
          font-size: 2.4rem;
          line-height: 25px;
          color: var(--green-musgo);
          margin-bottom: 1.6rem;
          text-align: center;
        }
        p {
          width: 80%;
          text-align: center;
          font-weight: 300;
          font-size: 1.6rem;
          line-height: 24px;
          height: 13.6rem;
        }
        .btn {
          display: inline-block;
          padding: 0.9rem 2.5rem;
          background-color: var(--green-dark-100);

          border-radius: 8px;
          font-weight: 700;
          font-size: 2rem;
          line-height: 22px;

          color: #ffffff;
          transition: all 0.4s ease;
          &:hover {
            background-color: #7d9176;
          }
        }
      }
    }
  }
  @include responsive(991px) {
    .container {
      .all-services {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  @include responsive(768px) {
    .container {
      .all-services {
        .service {
          p {
            font-size: 1.6rem;
            height: initial;
            width: 100%;
            margin-bottom: 3rem;
          }
        }
      }
    }
  }
  @include responsive(550px) {
    padding: 5rem 0;
    .container {
      h2 {
        text-align: center;
        margin-bottom: 1rem;
      }
      p {
      }
      .all-services {
        grid-template-columns: repeat(1, 1fr);
        .service {
          padding: 1rem;
          h3 {
            font-size: 2.3rem;
            line-height: 30px;
            height: initial;
          }
          p {
            font-size: 1.4rem;
            line-height: 22px;
          }
        }
      }
    }
  }
}

.s-experiencia-inesquecivel {
  margin-top: 8rem;
  .container {
    background: url("../assets/bg-experiencia-inesquecivel.png") no-repeat
      center center;
    @include flex(row, center, space-between);
    padding: 8rem 10rem;
    border-radius: 40px;
    .left {
      width: 100%;
      max-width: 47.6rem;
      h2 {
        color: var(--green-dark);
        margin-bottom: 4rem;
      }
      p {
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 24px;
        margin-bottom: 4rem;
        strong {
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 24px;
        }
      }
    }
    .right {
      width: 100%;
      max-width: 43.8rem;
      height: 42.3rem;
    }
  }
  @include responsive(991px) {
    .container {
      padding: 8rem 3rem;
    }
  }
  @include responsive(550px) {
    height: 100%;
    padding: 5rem 0;
    background-color: var(--green-light);
    margin-top: 0;
    .container {
      padding: 0 1.5rem;
      flex-direction: column;
      background: none;
      .left {
        margin-bottom: 3rem;
        h2 {
          margin-bottom: 2rem;
        }
        p {
          font-size: 1.8rem;
          line-height: 25px;
          margin-bottom: 2rem;
          strong {
            font-size: 1.8rem;
            line-height: 25px;
          }
        }
      }
      .right {
        max-width: 100%;
        height: 100%;
      }
    }
  }
}

.s-instagram {
  padding: 8rem 0;
  .container {
    @include flex(column, center, center);
    h2 {
      color: var(--green-dark);
      margin-bottom: 7.2rem;
    }
    .btn-wp {
    }
  }
  @include responsive(550px) {
    padding: 5rem 0;
    .container {
      h2 {
        text-align: center;
        margin-bottom: 3rem;
      }
    }
  }
}

.s-mais-cuidado {
  background-color: var(--green-musgo);
  padding-top: 1.9rem;
  padding-bottom: 3.1rem;
  margin-top: 8rem;
  .container {
    @include flex(row, center, space-between);
    .left-image {
      height: 44rem;
      img {
        height: 100%;
      }
    }
    .right {
      width: 100%;
      max-width: 44.1rem;
      h2 {
        color: #ffffff;
        margin-bottom: 4rem;
      }
      p {
        width: 100%;
        max-width: 54.4rem;
        line-height: 32px;
        color: #ffffff;
        margin-bottom: 4rem;
      }
    }
  }
  @include responsive(991px) {
    padding: 5rem 0;
    margin-top: 0;
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .left-image {
        height: 100%;
      }
      .right {
        margin-top: 3rem;
        max-width: 100%;
        text-align: center;
        h2 {
          margin-bottom: 2rem;
        }
        p {
          max-width: 100%;
          margin-bottom: 2rem;
        }
        .btn-wp {
          margin: 0 auto;
        }
      }
    }
  }
}

.s-faq {
  background-color: var(--green-musgo);
  padding: 8rem 0;
  .container {
    h2 {
      color: #ffffff;
      text-align: center;
      margin-bottom: 4rem;
    }
    .s-accordion {
      .accordion {
        background-color: var(--bege);
        border-radius: 16px;
        padding: 2.4rem;
        &:not(:last-child) {
          margin-bottom: 1.6rem;
        }
        .title {
          position: relative;
          cursor: pointer;
          h3 {
            font-size: 2rem;
            line-height: 27px;
            color: var(--green-dark-100);
          }
          span {
            width: 2.4rem;
            height: 2.4rem;
            background: url("../assets/check-faq.svg") no-repeat center center;
            position: absolute;
            right: 0;
            top: 0;
            transition: all 0.4s ease;
          }
        }
        p {
          display: none;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 24px;
          color: var(--green-musgo);
          margin-top: 1.6rem;
        }
        &.active {
          span {
            width: 2.4rem;
            height: 2.4rem;
            background: url("../assets/check-faq.svg") no-repeat center center;
            position: absolute;
            right: 0;
            top: 0;
            transform: rotate(180deg);
            transition: all 0.4s ease;
          }
          p {
            display: block;
            animation: fadeLeft 0.4s forwards;
          }
        }
      }
    }
  }
  @include responsive(550px) {
    padding-top: 0;
    padding-bottom: 5rem;
    .container {
      .s-accordion {
        .accordion {
          padding: 1.8rem;
          .title {
            h3 {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}
