@mixin flex($flexDirection, $align, $justify) {
    display: flex;
    flex-direction: $flexDirection;
    align-items: $align;
    justify-content: $justify;
}

@mixin responsive($screenWidth) {
    @media(max-width: $screenWidth) {
        @content;
    }
}