@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-size: 1.4rem;
    font-family: 'Exo 2', sans-serif;
}

p {
    font-family: 'Exo 2', sans-serif;
    font-size: 2rem;
    strong {
        font-family: 'Exo 2', sans-serif;
    }
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: url('../assets/bg-secoes.png') no-repeat center center;
    background-size: cover;
}

button {
    background: transparent;
}

img {
    max-width: 100%;
    display: block;
}