:root {
    --green: #1DE479;
    --blue: #2ECEF1;
    --black: #000000;
    --off-white: #EBEFF5;
    --white: #ffffff;
    --degrade: linear-gradient(84.39deg, #6AF2B9 -16.02%, #2ECEF1 35.95%, #2691DE 98.79%);
}