:root {
    --green-light: #CBDAC6;
    --green-dark: #006C6D;
    --green-musgo: #7D9176;
    --green-dark-100: #0D5632;
    --bege: #E8E6E6;
    --degrade: linear-gradient(90deg, #006C6D 0%, #0D5632 100%);
}